name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Récupération du code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Connexion à Docker Hub (via vos secrets)
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Construction et Envoi de l'image
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        # Remplacez 'mouhamed1234' ci-dessous par votre VRAI pseudo Docker Hub si différent
        tags: mouhamed1234/devops-project:latest